<div class='col-xs-12'>
 	<h2>レシピ一覧</h2>

		<table class="panel panel-default">
			<thead>
				<tr>
					<th class="panel-heading">レシピID</th>
					<th class="panel-heading">カクテルの名前</th>
				</tr>
			</thead>

			<tbody>
				<% @recipes.each do |recipe| %>
		 			<tr>
		 				<td class="panel-body">
		 					<%= recipe.id %>
		 				</td>
		 				<td class="panel-body">
		 					<%= link_to recipe_path(recipe) do %>
		 						<%= recipe.name %>
		 					<% end %>
		 				</td>
		 			</tr>
				<% end %>
			</tbody>
	 	</table>

 	<div class='row'>
 		<%= paginate @recipes %>
 	</div>

 </div>