
<div class="container">
	<div class="row">

			<div>
				<div class="concept1">
					<h1>
						Cocktail（カクテイル）は<br>
						<strong>
							カクテルのレシピを知りたい、レシピを公開したい人のためのアプリです。
						</strong>
					</h1><br>
				</div>

				<div class="concept2">
					<h1><strong>
						カクテルを作ってお家で楽しもう！
					</h1></strong><br>

					友達と<br>
					誕生日パーティー<br>
					手作りのカクテルで盛り上げる<br>

					家族と<br>
					お父さんお母さんの二人の時間をカクテルで贅沢に<br>

					恋人と<br>
					手の混んだカクテルでパートナーにおもてなし<br>
				</div>

				<div class="concept3">
					<h1><strong>
						カクテルを投稿して楽しもう！
					</h1></strong><br>
					バーテンダーの方<br>
					美味しいカクテルのレシピが出来た、公開してみんなの反応がみたい！<br>

					主婦の方<br>
					美味しいお酒の飲み方を知っているけど、みんなに教えてあげたいな！<br>
				</div>
			</div>
	</div>
</div>