<div class="col-xs-9">
	<div style= "text-align: center;">
		<h1 style="font-size: 50px;">About</h1>
		<p style="font-size: 15px; margin: 20px 0;">
		アプリ説明文
		</p>
		<!%= image_tag "tart.jpg", alt: "タルト", size: '400x300'  %>
	</div>
</div>