<div class="container">
	<div class="row">

			<div>
				<div class="concept1">
					<h1>
						Cocktail（カクテイル）は<br>
						<strong>
							カクテルのレシピを知りたい、<br>レシピを公開したい人のためのアプリです。
						</strong>
					</h1><br>
				</div>

				<div class="concept2">
					<h1><strong>
						カクテルを作ってお家で楽しもう！
					</h1></strong><br>
					<h4>
						友達と<br>
						誕生日パーティー<br>
						手作りのカクテルで盛り上げる<br><br>

						家族と<br>
						お父さんお母さんの二人の時間をカクテルで贅沢に<br><br>

						恋人と<br>
						手の混んだカクテルでパートナーにおもてなし<br><br>
					</h4><br>
				</div>

				<div class="concept3">
					<h1><strong>
						カクテルを投稿して楽しもう！
					</h1></strong><br>
					<h4>
						バーテンダーの方<br>
						美味しいカクテルのレシピが出来た、公開してみんなの反応がみたい！<br><br>

						主婦の方<br>
						美味しいお酒の飲み方を知っているけど、みんなに教えてあげたいな！<br><br>
					</h4>
				</div><br>

				<div class="how-to-use">
					<h1><strong>Cocktailの使い方</strong></h1><br>
					<h4>
						①ユーザー新規登録をしてください<br><br>
						②新規登録できたらログインをしてください<br><br>
						③ログインボタンを押したら”あなたのページ”に飛びます<br><br>
						④レシピを見たいときは”レシピ”から一覧が見られます<br><br>
						⑤レシピの投稿をしたい時は”レシピ投稿”から投稿ができます<br><br>
					</h4>
				</div><br>
			</div>
	</div>
</div>