/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a{
	text-decoration: none;
	color: #000000;

	&:hover{
		text-decoration: none;
	}
}


.site-title{
	margin-top: 30px;
}

.nav-inc-text{
	margin: 50px 0;
}l

.welcome-text{
	margin-left: 130px;
}

.nav-list{
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.nav-list-item{
	background-color: #ffffff;
	border-radius: 5px;

}


.customer-form{

	input{
		border: solid 1.5px #444444;
		border-radius: 5px;
		height: 2.5em;
	}
}

.ship-new-form{
	padding-bottom: 30px;

	input{
		border: solid 1.5px #444444;
		border-radius: 5px;
		height: 2.5em;
	}
}

.ship-name-form{
	border: solid 1.5px #444444;
	border-radius: 5px;
	height: 2.5em;
}


.deco-link a{
	text-decoration: underline;
	color:  #0000ff;
}
.under {
  text-decoration : underline;
}
